$primary: #16325B;
$secondary: #00879E;
$accent: #FFAB5B;
$light: #FFF2DB;
$disabled: #808080;
$white: #fff;

// Text colors
$text-primary: $primary;
$text-secondary: $secondary;

// Backgrounds
$bg-main: $light;

// Buttons
$btn-primary: $primary;
$btn-secondary: $secondary;
$btn-accent: $accent;