@use './variables' as *;
@use './mixins' as *;
@use './reset';
@use './typography';

// Global styles
body {
  background-color: $bg-main;
}

// Utility classes
.container {
  max-width: 1200px;
  margin: auto;
  padding: 16px;
}

// Buttons
.btn {
  padding: 10px 16px;
  border-radius: $border-radius;
}

.btn-primary {
  @include button-theme($btn-primary);
}

.btn-secondary {
  @include button-theme($btn-secondary);
}

.btn-accent {
  @include button-theme($btn-accent, #000);
}